<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.grave.mapper.CanvasMapper">
<!-- 
   <insert id="saveCanvas" parameterType="com.example.grave.pojo.dto.CanvasDTO" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO CanvasDTO ( uId,title,isPublic)
    VALUES (#{userId},#{title},#{isPublic});

</insert> -->

<insert id="insertTextBoxes" parameterType="com.example.grave.pojo.dto.CanvasDTO">
    <foreach collection="texts" item="text">
        INSERT INTO TextBox (pid, content, left_location, top_location, width_location, height_location)
        VALUES (#{id}, #{text.content}, #{text.left}, #{text.top}, #{text.width}, #{text.height});
    </foreach>
</insert>

<insert id="insertImageBoxes" parameterType="com.example.grave.pojo.dto.CanvasDTO">
    <foreach collection="images" item="image">
        INSERT INTO ImageBox (pid, imageUrl, left_location, top_location, width_location, height_location)
        VALUES (#{id}, #{image.imageUrl}, #{image.left}, #{image.top}, #{image.width}, #{image.height});
    </foreach>
</insert>

<insert id="insertHeritages" parameterType="com.example.grave.pojo.entity.Heritage" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO heritage (
        pid, 
        public_time, 
        left_location, 
        top_location, 
        width_location, 
        height_location
    )
    VALUES (
        #{pid},
        #{publicTime},
        #{left},
        #{top},
        #{width},
        #{height}
    )
</insert>

<insert id="insertHeritageItems" parameterType="com.example.grave.pojo.entity.Heritage">
    <foreach collection="items" item="item" separator=";">
        INSERT INTO heritage_item (
            heritage_id,
            content,
            is_private
        )
        VALUES (
            #{id},
            #{item.content},
            #{item.isPrivate}
        )
    </foreach>
</insert>

<insert id="insertMarkdowns" parameterType="com.example.grave.pojo.dto.CanvasDTO">
    <foreach collection="markdowns" item="markdown">
        INSERT INTO markdown (pid, content, left_location, top_location, width_location, height_location)
        VALUES (#{id}, #{markdown.content}, #{markdown.left}, #{markdown.top}, #{markdown.width}, #{markdown.height});
    </foreach>
</insert>
</mapper>